<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

        Enter a students name to search across all forms:
        <form action="#" th:action="@{/queryDatabase}"
              th:object="${query}" method="post" role="form">

            Status:
            <label th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
                   class="alert alert-danger"></label>
            <select name = "status" th:field="*{type}" placeholder="All" >
                <option value="firstName">First Name</option>
                <option value="lastName">Last Name</option>
                <option value="YUID">YU ID Number</option>
                <option value="studentEmail">Email</option>
                <option value="Major">Major</option>
            </select>

            Search
            <div class="form-group">
                <label th:if="${#fields.hasErrors('input')}" th:errors="*{input}"
                       class="alert alert-danger"></label>
                <input type="text" th:field="*{input}" placeholder="place your search here"
                       class="form-control input-lg"/>
            </div>
            <div class="row">
                <div class="col-sm-3" style="float: none; margin: 0 auto;">
                    <input type="submit" class="btn btn-primary btn-block" value="Search"/>
                </div>
            </div>

        </form>

    <!--
    <div class="row panel-body">
        <h2 class="col-md-11" th:inline="text">Total: [[${total}]]</h2>
        <a th:href="@{'/shoppingCart/checkout'}" class="col-md-1">
            <button type="button" class="btn btn-danger" th:text="Checkout">Checkout</button>
        </a>
    </div>
    -->

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>