<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>


<div class="container">

    <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

    <div class="row" style="margin-top:20px">
        <div >
            <form action="#" th:action="@{/admin/settings}"
                  th:object="${settings}" method="post" role="form">

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('allowStudentReminders')}" th:errors="*{allowStudentReminders}"
                           class="alert alert-danger"></label>
                    <input type="checkbox" name="allowStudentReminders" value="allowStudentReminders" th:field="*{allowStudentReminders}"/>
					<label for="allowStudentReminders">Allow Student Reminders</label>
                </div>

				<div class="form-group">
                Registrar Email:
                <input type="text" th:field="*{registrarEmail}" placeholder="Registrar Email"
                       class="form-control input-lg"/>
            	</div>

				<div class="form-group">
                Website URL:
                <input type="text" th:field="*{accessibleWebsiteUrl}" placeholder="Website URL"
                       class="form-control input-lg"/>
            	</div>

				<div class="col-md-12">
					<span class="col-md-6">
						<h3> MAJOR ROUTING </h3>	
						<div class="form-group">
		                COM: <input type="text" th:field="*{com_dean}" placeholder="COM Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                ART: <input type="text" th:field="*{art_dean}" placeholder="ART Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                MAT: <input type="text" th:field="*{mat_dean}" placeholder="MAT Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                JST: <input type="text" th:field="*{jst_dean}" placeholder="JST Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                HIS: <input type="text" th:field="*{his_dean}" placeholder="HIS Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                LAW: <input type="text" th:field="*{law_dean}" placeholder="LAW Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                GEM: <input type="text" th:field="*{gem_dean}" placeholder="GEM Dean"
		                       class="form-control input-lg"/>
		            	</div>
					</span>
					
					<span class="col-md-6">
						<h3> SCHOOL ROUTING </h3>
						<div class="form-group">
		                KATZ: <input type="text" th:field="*{katz_dean}" placeholder="KATZ Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                RIETS: <input type="text" th:field="*{riets_dean}" placeholder="RIETS Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<br/>
						<h3> TORAH STUDIES ROUTING </h3>
						<div class="form-group">
		                IBC: <input type="text" th:field="*{ibc_dean}" placeholder="IBC Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                Mechina/JSS: <input type="text" th:field="*{jss_dean}" placeholder="Mechina/JSS Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                MYP: <input type="text" th:field="*{myp_dean}" placeholder="MYP Dean"
		                       class="form-control input-lg"/>
		            	</div>
						<div class="form-group">
		                SBMP: <input type="text" th:field="*{sbmp_dean}" placeholder="SBMP Dean"
		                       class="form-control input-lg"/>
		            	</div>
					</span>	
				</div>
                <br> </br>
					<div class="col-sm-3" >
                        <input type="submit" class="btn btn-primary btn-block" value="Save"/>
                    </div>
					<br></br>
					<div class="col-sm-3" >
                        <input type="reset" class="btn btn-primary btn-block" value="Undo Changes"/>
                    </div>
				
            </form>
        </div>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>