<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
    <style>
        h6   {display: inline;}
    </style>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <span class="col-md-4" th:unless="${homeIsExpanded}">
	    <a th:href="@{/admin/dashboard/home}" th:inline="text"> <h4>Total Major Declaration Forms: ([[${totalMajorForms}]])</h4> </a>     
    </span>
	<span class="col-md-4" th:if="${homeIsExpanded}">
		<a th:href="@{/admin/dashboard/}" th:inline="text"> <h4><u><strong>Total Major Declaration Forms: ([[${totalMajorForms}]])</strong></u></h4> </a>
	</span>
	
	<span class="col-md-4" th:unless="${changeTSIsExpanded}">
	    <a th:href="@{/admin/dashboard/changeTS}" th:inline="text"> <h4>Total Change Torah Studies Forms: ([[${totalChangeTSForms}]])</h4> </a>     
    </span>
	<span class="col-md-4" th:if="${changeTSIsExpanded}">
		<a th:href="@{/admin/dashboard/}" th:inline="text"> <h4><u><strong>Total Change Torah Studies Forms: ([[${totalChangeTSForms}]])</strong></u></h4> </a>
	</span>
	
	<span class="col-md-4" th:unless="${leaveOfAbIsExpanded}">
        <a th:href="@{/admin/dashboard/leaveOfAb}" th:inline="text"> <h4>Total Leave of Absence Forms: ([[${totalLeaveOfAbForms}]])</h4> </a> 
    </span>
	<span class="col-md-4" th:if="${leaveOfAbIsExpanded}">
		<a th:href="@{/admin/dashboard/}" th:inline="text"> <h4><u><strong>Total Leave of Absence Forms: ([[${totalLeaveOfAbForms}]])</strong></u></h4> </a>
	</span>
	<br></br>
	<hr/>
	<br></br>
	<div class="panel-default well" th:each="form : ${majorForms}">
        <div class="panel-heading">
            Major Declaration Form #<h1 th:text="${form.id}"></h1>  Status: <h2 th:text="${form.status}"></h2>
        </div>
        <br></br>
        Step in Approval:<h3 th:text="${form.current}" class="panel-body">Major</h3>
		<a th:href="@{'/tracking/{trackingId}' (trackingId=${form.trackingId})}" class="col-md-1">
            <button type="button" class="btn btn-primary" th:text="Track">Track</button>
        </a>
    </div>
	
	<div class="panel-default well" th:each="form : ${changeTSForms}">
        <div class="panel-heading">
            Change Torah Studies Form #<h1 th:text="${form.id}"></h1>  Status: <h2 th:text="${form.status}"></h2>
        </div>
        <br></br>
        Step in Approval:<h3 th:text="${form.current}" class="panel-body">step</h3>
		<!-- the following line is wrong, because no tracking id yet on changeTS form -->
		<a th:href="@{'/tracking/{trackingId}' (trackingId=${form.trackingId})}" class="col-md-1">
            <button type="button" class="btn btn-primary" th:text="Track">Track</button>
        </a>
    </div>
	
	<div class="panel-default well" th:each="form : ${leaveOfAbForms}">
        <div class="panel-heading">
            Leave Of Absence Form #<h1 th:text="${form.id}"></h1> Status: <h2 th:text="${form.status}"></h2>
        </div>
        <br></br>
        Step in Approval:<h3 th:text="${form.current}" class="panel-body">step</h3>
		<!-- the following line is wrong, because no tracking id yet on leaveOfAb form -->
		<a th:href="@{'/tracking/{trackingId}' (trackingId=${form.trackingId})}" class="col-md-1">
            <button type="button" class="btn btn-primary" th:text="Track">Track</button>
        </a>
    </div>


</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>