<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <h1 class="jumbotron">
        <span sec:authentication="name"></span>'s Processing Page
    </h1>

    <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

    <div class="panel-default well" th:each="form : ${forms}">
        <div class="panel-heading">
            <h1 th:inline="text"> Form Id: [[${form.id}]]</h1>
            <h3 th:inline="text">Status: [[${form.status}]]</h3>
        </div>
        <div class="row panel-body">
            <div th:inline="text" class="col-md-2">First Name: [[${form.name}]]</div>
            <div th:inline="text" class="col-md-2">Last Name: [[${form.lastName}]]</div>           
            <div th:inline="text" class="col-md-2">Major Declaration: [[${form.major}]]</div>    
       		<a th:href="@{'/shoppingCart/approveForm/{id}' (id=${form.id})}" class="col-md-1">
            <button type="button" class="btn btn-primary" th:text="Approve">Approve</button>
            </a>
			<a th:href="@{'/shoppingCart/denyForm/{id}' (id=${form.id})}" class="col-md-1">
            <button type="button" class="btn btn-danger" th:text="Deny">Deny</button>
            </a>
        </div>
        <br></br>
		<div class="row panel-body">
			<form action="#" th:action="@{/shoppingCart}"
              th:object="${commentHolder}" method="post" role="form">
			 <div class="form-group">
                Comment:
                <input type="text" th:field="*{comment}" placeholder="Comment here"
                       class="form-control input-lg"/>
            </div>
			<div class="row">
                <div class="col-sm-3" style="float: none; margin: 0 auto;">
                    <input type="submit" class="btn btn-primary btn-block" value="Enter"/>
                </div>
            </div>
			
		</form>
        </div>
    </div>
    <!--
    <div class="row panel-body">
        <h2 class="col-md-11" th:inline="text">Total: [[${total}]]</h2>
        <a th:href="@{'/shoppingCart/checkout'}" class="col-md-1">
            <button type="button" class="btn btn-danger" th:text="Checkout">Checkout</button>
        </a>
    </div>
    -->
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>