<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
    <style>
        h6   {display: inline;}
    </style>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">
    <div >

        <a th:href="@{/home}">Major Declaration Forms </a> (<h6 th:text="${nMajorForms}"></h6>)

    </div>
    <div>
        <a th:href="@{/homeForTSForms}">Change Torah Studies</a> (<h6 th:text="${nChangeTSForms}"></h6>)
    </div>
    <div>
        <a th:href="@{/homeForLeaveOfAb}">Leave of Absence</a> (<h6 th:text="${nLeaveOfAbForms}"></h6>)
    </div>


</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>