<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
    <style>
        h6   {display: inline;}
    </style>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">
    <div >

        <a th:href="@{/home}" th:inline="text">Major Declaration Forms ([[${nMajorForms}]]) </a>

    </div>
    <div>
        <a th:href="@{/homeForTSForms}" th:inline="text">Change Torah Studies ([[${nChangeTSForms}]])</a>
    </div>
    <div>
        <a th:href="@{/homeForLeaveOfAb}" th:inline="text">Leave of Absence ([[${nLeaveOfAbForms}]])</a>
    </div>


</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>